@import url(https://fonts.googleapis.com/css?family=Barlow+Condensed:400,900|Patua+One);
.cltgray {
  color: rgba(55, 55, 55, 0.5); }

.cgray {
  color: #999999; }

.cred {
  color: #dd1111; }

.cblack {
  color: #000000; }

.btn-gray {
  background-color: #999999;
  color: #232323; }

.btn-clear {
  background-color: rgba(255, 255, 255, 0.15);
  color: #ffffff; }

.btn-green {
  background-color: #38c46d;
  color: #ffffff; }
  .btn-green:hover {
    background-color: #1c6237;
    transition-duration: 0.5s; }

.btn-red {
  background-color: #a00000;
  color: #ffffff; }
  .btn-red:hover {
    background-color: #500000;
    transition-duration: 0.5s; }

.btn-danger {
  background-color: #b63737;
  color: #ffffff; }
  .btn-danger:hover {
    background-color: #5b1c1c;
    transition-duration: 0.5s; }

.btn-primary {
  background-color: #3d92e0;
  color: #ffffff; }
  .btn-primary:hover {
    background-color: #1f4970;
    transition-duration: 0.5s; }

.btn-dark {
  background-color: #232323;
  color: #ffffff; }
  .btn-dark:hover {
    background-color: #464646;
    transition-duration: 0.5s; }

a {
  color: #ffffff;
  text-decoration: none; }
  a:hover {
    color: gray;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s; }

h1, .h1 {
  font-family: 'Patua One', cursive; }

h2, .h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 900; }

h3, .h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 900; }

h4, .h4 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 900; }

h5, .h5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 900; }

h6, .h6 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 900; }

.completed {
  text-decoration-line: line-through;
  font-style: italic;
  color: rgba(55, 55, 55, 0.5); }

.display-none {
  display: none;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }
